body {
  font-family:     微软雅黑,宋体, Verdana, Geneva, Arial, sans-serif;
  font-size:        15px;
}
a {
  text-decoration:  none;
  font-size: 18px;
  font-weight:      600;
  color: #0022cc;
}
a:hover {
  text-decoration:  underline;
}
a img {
  border:           0;
}
h1 {
  font-size:        170%;
  font-weight:      normal;
  color: #cc6600;
  border-bottom:    thin dotted #888888;
}

h2 {
  font-weight:      900;
  color: blue;
  font-size:        150%;
  border-bottom:    thin dotted #888888;
}
blockquote {
  font-style:       italic;
}

table {
  margin-left:      20px;
  margin-right:     20px;
  border:           solid white;
  caption-side:     bottom;
  border-collapse:  collapse;
}

td, th {
  padding:          5px;
  width: 120px;
}

th {
  border:           thin dotted ghostwhite;
  background-color: #cc6600;
  color:ghostwhite;
}

td{
  border:           thin dotted gray;
  text-align: center;
}

caption {
  font-style:       italic;
  padding-top:      8px;
}

.center {
  text-align:       center;
}

.right {
  text-align:       right;
}

.cellcolor {
  background-color: #fcba7a;
}

table table th {
  background-color: white;
}

li {
  /*list-style-image: url(images/backpack.gif);*/
  padding-top:      5px;
  margin-left:      10px;
  font-size: 18px;
  font-weight: bolder;
  color:#ff6666;
}

.li_error{
  margin-left:      10px;
  font-size: 16px;
  font-weight: bolder;
  color:#ff6666;
}

.sub {
  font-size: 18px;
  font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
  color: white;
  width:160px;
  height:35px;
  line-height:35px;
  background-color: #cc6600;
  /*background:transparent url(背景图片地址) no-repeat;*/
  border:none;
}
.sub:hover{
  background-color: forestgreen;
  /*border:solid 2px #CCCCCC;*/
}

.sub_td {
  font-size: 14px;
  font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
  color: white;
  width:75px;
  height:25px;
  line-height:25px;
  background-color: #336699;
  /*background:transparent url(背景图片地址) no-repeat;*/
  border:none;
}
.sub_td:hover{
  background-color: forestgreen;
  /*border:solid 2px #CCCCCC;*/
}

input:disabled{
  font-size: 14px;
  font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
  width:75px;
  height:25px;
  line-height:25px;
  border: 1px solid #DDD;
  background-color: #F5F5F5;
  color:#ACA899;
}

.input_control{
  width:150px;
  height:36px;
  text-align:center;
  font-size: 18px;
  border:1px solid #c8cccf;
  color:#CC6666;
}
/*input[type="text"]{*/
  /*box-sizing: border-box;*/
  /*text-align:center;*/
  /*font-size:1.4em;*/
  /*height:2.7em;*/
  /*border-radius:4px;*/
  /*border:1px solid #c8cccf;*/
  /*color:#6a6f77;*/
  /*-web-kit-appearance:none;*/
  /*-moz-appearance: none;*/
  /*display:block;*/
  /*outline:0;*/
  /*padding:0 1em;*/
  /*text-decoration:none;*/
  /*width:100%;*/
/*}*/
input[type="text"]:focus{
  border:1px solid #CC6666;
}

.specfont{
  font-size: 80%;
  font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
  color: #FF6666;
  text-decoration:underline;
}
.timeshow{
  font-size:120%;
  font-weight:bolder;
}

#topfixed{
  width:100%;
  position:fixed;
  top: 0;
  background-color: white;
}