body{
    background-color: #888888;
    font-family: 微软雅黑,宋体, Verdana, Geneva, Arial, sans-serif;
    font-size: 15px;
    color:#FF6666;
}

p a{
    color:#AE02CC;
    font-size:9px;
}

.p1{
    color:gold;
    font-size: 18px;
    font-style: italic;
}

a{
    font-size:150%;
    color:burlywood;
}
#div1{
    color:#ACA899;
    background-color: #c8cccf;

  }

#div1 p{
    color:#0022cc;
    font-size:13px;
    text-decoration: underline;
}

.div2 img {
    width: 160px;
    height:160px;
    padding:20px 20px;
}

.div2{
    width: 200px;
    height: 200px;
    margin:20px 0 0 20px;   /*上 右 下 左 */
    /*margin:0 auto;*/
    background-color: red;
    color:white;
    float:left;
    font-size: 120%;
}

#div3{
    width:300px;
    height: 180px;
    background-color: #0022cc;
    margin:20px 0 0 50px;
    font-size:10px;
    color:darkgrey;
    text-align: center;
    float:right;
}

.clear{
    clear:both;
}

.loggin{
    margin:30px 0 0 20px;
    width:450px;
    height:300px;
    background-color:greenyellow;
    border: 1px dashed  darkgrey;
    float:left;
}

.input_area_1{
    margin: 0 0 0 10px  ;
    width:160px;
    height: 32px;
    font-family: 微软雅黑,宋体, Verdana, Geneva, Arial, sans-serif;
    border: 1px solid #009966;
}

.inputname{
    padding:30px 20px 0 0;
    float: left;
}

.prompt_text{
    padding: 7px 0 0 15px;
    width: 50px;
    height: 40px;
    text-align: left;
    float:left;
}

.bigframe{
    margin: 30px 0 0 20px;
    width: 600px;
    height: 240px;
    background-color: antiquewhite;
    float:left;
}